.loginContainer {
    width: 500px;
}

.registrationName {
    width: 600px;
}

.card img {
    width: 50%;
    height: 50%;
}

body, html {
    height: 100%;
}

.profile-pic {
    width: 60px;
    height: 60px;
  }
  
  .profile-pic img {
    border-radius: 100px;
    max-width: 100%;
  }