body {
    background-color: #F5DEB3;
}

.loginContainer {
    width: 500px;
}

.registrationName {
    width: 600px;
}

.card img {
    width: auto;
    height: 50%;
}

.profile-pic {
    width: 60px;
    height: 60px;
 }
  
.profile-pic img {
    border-radius: 100px;
    max-width: 100%;
 }


 .hero {
    background-image: url('/assets/images/pepe_hero.jpeg');
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-transform: uppercase;
  }
  
  .hero h2 {
    position: relative;
    color: #faa541;
  }
  
  .hero h1, .hero h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 0.9;
  }
  
  .hero p {
    letter-spacing: 2px;
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 10px;
  }

  .hero h1, .hero h2, .hero p {
      position: relative;
      left: 120px;
  }

  .hpCards {
      background-image: url('/assets/images/desert-bg.avif');
  }

  .safetyTable {
      width: 50%;
      background-color: white;
  }
 
  .safetyTable p {
      align-items: flex-end;
  }

  .safetyNo {
    background-color: maroon;
    color: whitesmoke;
    font-weight: bold;
  }

  .safetyYes {
    background-color: green;
    color: whitesmoke;
    font-weight: bold;
  }

  .category {
    flex: 0 0 25%;
    padding: 20px 15px;
  }
  
  .category img {
    width: 25%;
  }
  
  .category-text {
    color: #364147;
    padding: 30px 0;
    text-transform: uppercase;
    text-align: center;
  }
  
  .category-text > div {
    font-size: 16px;
    font-weight: 200;
    color: #faa541;
  }
  
  .category-text h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
  }

  